Option to use "URL-safe base64" encoding

Using standard base64 encoding in a URL or as a file name causes problems because of the '+', '/' and '=' characters.
There is a "base64url" variant that replaces '+' with '-', '/' with '_' and does not use '=' padding at the end.
See section 5. in RFC 4648: https://datatracker.ietf.org/doc/html/rfc4648

Have a checkbox to use this variant instead of standard base64.
Note that this interacts with #10